.header-choose-main-container{
    margin-top: 40px;
    display: flex;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding-left:148px;
    padding-right: 148px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.header-choose-content-1{
    cursor: pointer;
    flex: 1;
    background-color: #95989A;
    margin-right: 10px;
}
.header-choose-content-2{
    cursor: pointer;
    flex: 1;
    background-color: #95989A;
    margin-right: 10px;
}
.header-choose-content-3{
    cursor: pointer;
    flex: 1;
    background-color: #95989A;
}
.choose-text{
    margin-top: 14px;
    color:#fff
}


@media screen and (max-width:1000px){
    .header-choose-main-container{
        display: block;
        margin-top: 20px;
        padding-left:10vw;
        padding-right: 10vw;
        margin-bottom: 20px;
    }
    .header-choose-content-1{
        margin-right: 0px;
        padding: 10px;
    }
    .header-choose-content-2{
        margin-right: 0px;
        padding: 10px;
    }
    .header-choose-content-3{
        margin-right: 0px;
        padding: 10px;
    }
    .hr-1{
        margin-top: 620px;
    }
}